extends layout

block content
  h1= title
  - if (user)
    p Hi #{user.nickname}, Welcome to #{title}
    form(action="/users/logout", method="post")
      input(type="submit", value="LOG OUT")
  - else
    p Welcome to #{title}
    form(action="/users/login", method="get")
      input(type="submit", value="LOG IN")
    form(action="/users/signup", method="get")
      input(type="submit", value="SIGN UP")

  