extends layout

block content
  .note
    .date 09/04 Mon
    textarea(name="mon")
  .note
    textarea(name="tue")
  .note
    textarea(name="wed")
  .note
    textarea(name="thu")
  .note    
    textarea(name="fri")
  .note    
    textarea(name="wkd")
  