extends layout

block content
  form(action="/save", method="post")
    - for (eachNote of notes)
      - var day = eachNote.date.slice(0,3).toLowerCase()
      .note
        .date #{eachNote.date}
        textarea(id=`note-${day}` name=`${day}`)= eachNote.note
    
    - if (user)
      input(type="submit" class=`${wall}` value="")#save1
    - else
      #show-login-rec-msg
      
  