#wall.modal.fade(tabindex='-1' role='dialog' aria-labelledby='wall-label' aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#wall-label.modal-title Select Wall
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      form(action="/users/save", method="get")
        .modal-body#wall-images-p
          a(href="#")
            label
              input(type="radio", name="wall", value="1")
              img(src="/images/1-mini.jpg", alt="wood wall image")#wall-image1.wall-images
          a(href="#")
            label
              input(type="radio", name="wall", value="2")
              img(src="/images/2.jpg", alt="")#wall-image2.wall-images
          a(href="#")
            label
              input(type="radio", name="wall", value="3")
              img(src="/images/3.jpg", alt="")#wall-image3.wall-images
          a(href="#")
            label
              input(type="radio", name="wall", value="4")
              img(src="/images/4.jpg", alt="")#wall-image4.wall-images
          a(href="#")
            label
              input(type="radio", name="wall", value="5")
              img(src="/images/5.jpg", alt="")#wall-image5.wall-images
          a(href="#")
            label
              input(type="radio", name="wall", value="6")
              img(src="/images/6.png", alt="")#wall-image6.wall-images
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Close
          input(type="submit", value="Save").btn.btn-primary